body {
    background-color: #656c92;
    font-family: 'Poppins', 'sans-serif';
}
/* ********** NavBar Style ********** */
.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    display: flex;
}
.navbar-brand img {
    height: 50px; /* Adjust based on logo's size */
    width: auto;
}

/* ********** NavBar UNDERLINE Animation Style ********** */
.navbar-nav a {
    position: relative;
}
.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}
.navbar-nav a:hover::before {
    width: 100%;
    border-radius: 50%;
}

/* ********** Page TITLES ********** */
.page-title {
    font-weight: 300;
    font-size: 35px;
    color: whitesmoke;
}
/* ******************************************************************************************************************** */
                            /* ********** LOGIN PAGE ********** */
/* ******************************************************************************************************************** */

/* **********CARD Styling********** */
.login_body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
    margin-top: 100px;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.login {
    padding: 30;
    width: 350px;
	height: auto;
	background: linear-gradient(-33deg, #170b5e, #3fbbfe, #a541ff);
	overflow: hidden;
	color: whitesmoke;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #2e2e2e;
}
.login-header {
    background-image: url('static/images/Login_Text_01.png') ;
}
.login form {
    margin: 20px 20px 50px 20px;
}

/* **********TOP of CARD Styling********** */
.login h2 {
    margin-top: 20px;
}

/* **********FORGOT PASSWORD Styling********** */
.btn-link {
    font-size: 1.1rem;
    color:#cecece;
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.btn-link:hover {
    color:#cecece;
}
.btn-link::after,
.btn-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #c300ff, #00ffff);
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
.btn-link::before {
    top: -2px;
    transform-origin: left;
}
.btn-link:hover::after,
.btn-link:hover::before {
    transform: scaleX(1);
}

/* **********LOGIN & SIGN UP BUTTONS********** */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 20px;
}
.login-page button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}
.login-page button:active,
.login-page button:hover {
    outline: 0;
}
.login-page button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.login-page button:hover span {
    background: none;
}
.login-page button:active {
    transform: scale(0.9);
}
.login-page button a {
    color: #ffffff;
    text-decoration: none;
}
/* ******************************************************************************************************************** */
                            /* ********** SALES LIST PAGE ********** */
/* ******************************************************************************************************************** */

/* ********** USER NAME Styling ********** */
.user-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(-164deg, #00ddeb 20%, #8e80f0 50%, #00ddeb 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* ********** NUMBER of PINNED SALES text Styling ********** */
.num-of-pins {
    color: whitesmoke;
}

/* ********** PRIMARY BUTTON Styling ********** */
.add-and-manage-sales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.btn-primary {
    height: 42px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: none;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}
.btn-primary:hover {
    box-shadow: 0 0 15px rgba(130, 255, 255, 0.7);
}

/* ********** CLEAR BUTTON Styling ********** */
.sales-list-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.btn-outline-secondary {
    height: 42px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(144deg, #b4b4b4, #747474 50%, #969696);
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: box-shadow 0.3s ease-in-out;
}
.btn-outline-secondary:hover {
    box-shadow: 0 0 15px rgba(236, 236, 236, 0.7);
}

/* ********** MAP Styling ********** */
#map {
    height: 400px;
    width: 75%;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 10px #2e2e2e;
}

/* ********** SALES LIST Styling ********** */
.list-group {
    box-shadow: 5px 20px 50px #2e2e2e;
}
.text-center {
    margin-bottom: 20px;
}
.list-group .li {
    display: flex;      /* label + value on one line */
    margin-bottom: 6px; /* spacing between rows */
}
.list-group .list-group-item {
    width: 100%;        /* fixed column width */
}
.list-group-item {
    display: flex;
}
.list-group-item span:first-child {
    width: 300px;       /* adjust width of labels */
    font-weight: bold;  
    color: #5118ac;
}
.list-group .bottom_border {
    height: 4px;
    width: 100%;
    background-color: #5118ac;
}
#job_number {
    font-weight: bold;
    color: black;
}

/* ********** EDIT Button ********** */
.btn-warning {
    border-radius: 4px;
    background-color: #1bdb9b;
    border: none;
    color: #3d3d3d;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 84px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 6px;
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0,.7);
}
.btn-warning{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-warning:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -5px;
    transition: 0.5s;
}
.btn-warning:hover{
    padding-right: 12px;
    padding-left:4px;
    background-color: #00ffaa;
    color: #3d3d3d;
}
.btn-warning:hover:after {
    opacity: 1;
    right: 12px;
}

/* ********** DELETE Button ********** */
.btn-danger {
    border-radius: 4px;
    background-color: #b80b0b;
    border: none;
    color: #dbdbdb;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 84px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 6px;
    box-shadow: 0 5px 10px -4px rgba(0, 0, 0,.7);
}
.btn-danger{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-danger:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4px;
    right: -5px;
    transition: 0.5s;
}
.btn-danger:hover{
    padding-right: 12px;
    padding-left:4px;
    background-color: #ec1237;
    color: #dbdbdb;
}
.btn-danger:hover:after {
    opacity: 1;
    right: 5px;
}
/* ******************************************************************************************************************** */
                            /* ********** MANAGE SALES PAGE ********** */
/* ******************************************************************************************************************** */

/* ********** PRIMARY BUTTON Styling ********** */
.manage-sale-search {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

/* ******************************************************************************************************************** */
                            /* ********** EDIT PROFILE PAGE & SIGNUP PAGE ********** */
/* ******************************************************************************************************************** */

/* ********** Container ********** */
.table-responsive {
    border-radius: 15px;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 5px 20px 50px #2e2e2e;
}

/* ********** INPUT PLACEMENT & SPACING ********** */
.profile-form-table th {
    width: 30%;
    text-align: left;
    padding: 10px 15px;
    vertical-align: middle;
}
.profile-form-table td {
    width: 70%;
    padding: 10px 15px;
    vertical-align: middle;
}

/* ********** FIELD SUBJECT LINE ********** */
.form-label-add-edit {
    margin-top: 5px;
    margin-left: 10px;
    color: #5118ac;
    font-weight: bold;
    font-size: 18px;
}

/* ******************************************************************************************************************** */
                            /* ********** ADD SALE / EDIT SALE PAGE ********** */
/* ******************************************************************************************************************** */

/* ********** INPUT PLACEMENT & SPACING ********** */
.sale-form-table th {
    width: 30%;
    text-align: left;
    padding: 10px 15px;
    vertical-align: middle;
}
.sale-form-table td {
    width: 70%;
    padding: 10px 15px;
    vertical-align: middle;
}
.form-label-add-edit {
    margin-top: 5px;
    margin-left: 10px;
    color: #5118ac;
    font-weight: bold;
    font-size: 18px;
}
.form-job-number {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}
#{{ form.notes.id_for_label }} {
    resize: none;
}

/* ******************************************************************************************************************** */
                            /* ********** CONFIRM DELETE PAGE ********** */
/* ******************************************************************************************************************** */

/* ********** CARD Styling ********** */
.delete_confirm_body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
    margin-top: 100px;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.delete_confirm {
    padding: 30;
    width: 350px;
	height: 372px;
	background: linear-gradient(-33deg, #170b5e, #3fbbfe, #a541ff);
	overflow: hidden;
	color: whitesmoke;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #2e2e2e;
}
/* **********TOP of CARD Styling********** */
.delete_confirm h2 {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color:#170b5e;
}
/* ********** MESSAGE Styling********** */
.delete_confirm p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 18px;
}
.delete_confirm p:not(.delete_question) {
    color:#170b5e;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}
/* ********** BUTTON Section Styling********** */
.delete_confirm form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
.delete_confirm_body .delete_question {
    font-weight: bold;
}
/* ********** DELETE BUTTON Styling********** */
.confirm-delete {
    position: relative;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background: none;
    border: 2px solid #be050e;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}
.confirm-delete {
    background: linear-gradient(#be050e 0 0) no-repeat calc(200% - var(--p, 0%))
        100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
        background-position 0.3s calc(0.3s - var(--t, 0s));
}
.confirm-delete:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}
/* ********** CANCEL BUTTON Styling********** */
.cxl-secondary {
    position: relative;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background: none;
    border: 2px solid #808080;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}
.cxl-secondary {
    background: linear-gradient(#808080 0 0) no-repeat calc(200% - var(--p, 0%))
        100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
        background-position 0.3s calc(0.3s - var(--t, 0s));
}
.cxl-secondary:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

/* ******************************************************************************************************************** */
                            /* ********** DASHBOARD PAGE ********** */
/* ******************************************************************************************************************** */

/* ********** APPLY/CLEAR FILTER Section ********** */
.chart-container {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 5px 20px 50px #2e2e2e;
}
.dashboard-filter {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}
.filter-text label {
    color: whitesmoke;
}
/* ********** TITLE of each Chart ********** */
.chart-title {
    display: flex;
    justify-content: center;
    color: #5118ac;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: bold;
}